.TodoItem{
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    display: flex;
    border-bottom: 1px solid #EEE;
}
.TodoItem-complete{
    text-decoration: line-through;
    opacity: .3;
}
.TodoItem >p{
height: 32px;
margin: 2px;
margin-left: 15px;
}